.App {
	padding: 20px 0 100px;
	max-width: 960px;
	margin: 0 auto;
}

.App a {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

.App a:hover {
	color: #448993;
}

.App-header {
	margin: 30px 0;
	font-family: "EB Garamond", serif;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}

.App-footer {
	text-align: center;
	margin: 30px 0;
}
