.Dictionary h1 {
	font-size: 25px;
	margin-bottom: 15px;
	font-family: "EB Garamond", serif;
}

.Dictionary section {
	border: 0.5px solid black;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 0px 10px 10px rgba(0 0 0 / 5%);
	margin: 20px 0;
}

.Dictionary input {
	width: 100%;
	padding: 6px 10px;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 6px;
}

.Dictionary .hint {
	font-size: 11px;
	margin-top: 5px;
	opacity: 70%;
}

@media (max-width: 575.98px) {
	.Dictionary h1 {
		font-size: 20px;
	}
}
